<div id="todoList" ng-hide="loading">

    <h2>Liste des todos</h2>

    <table class="table">
    	<thead>
    		<tr>
    			<th>Title</th>
    			<th>Description</th>
    			<th>Action</th>
    		</tr>
    	</thead>
    	<tbody>
	        <tr ng-repeat="todo in todos">
	            <td><a href="#/todo/{{todo.id}}"><span class="todoTitle">{{todo.title}}</span></a> :</td>
	            <td><span class="todoDescription">{{todo.description | filter:ellipsis:20}}</span> &nbsp;</td>
	            <td><button class="button" ng-click="deleteTodo(todo)"><i class="icon-trash"></i></button></td>
	        </tr>
       </tbody>
    </table>

    <button ng-click="gotoTodoNewPage()" class="btn btn-primary btn-large pull-right">Ajouter</button>

</div>


<div class="alert alert-info" ng-show="loading">
	<i class=icon-refresh></i> Loading tasks from MongoDb
	<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

